/* Google Font импорт - Montserrat Alegreya */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Montserrat:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
div {
    scrollbar-width: none;
}
div::-webkit-scrollbar {
    display: none;
  }
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #839973;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Многоразовый код===== */
.general {
    height: 100%;
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,.sidebar .icon{
    min-width: 60px;
    border-radius: 10px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar .text,.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

/* =========================== */

/* ======  Мобильный header ====== */
#mobile_header {
    width: 100%;
    background-color: var( --sidebar-color);
    position: fixed;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
    top: 0;
    height: 70px;
    z-index: 2;
}

.mobile-title{
    font-size: 36px;
	font-weight: 900;
    margin-top: 15px;
    background-image: linear-gradient(to top, var(--primary-color),var(--text-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;    
    text-align: center;
}
.menu-box {
    border-radius: 10px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: 35px;
    position: absolute;
    left: 15px;
	top: 20px;
    align-items: center;
    justify-content: center;
    /*
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    */
}

.close_mobile {
    border-radius: 10px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: 35px;
    position: absolute;
    left: 250px;
	top: 10px;
    align-items: center;
    justify-content: center;
    /*
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    */
}
.mobile-close {
    left: -300px;
}
.mobile-open {
    left: 0;
}
/* ======  Основная страница ====== */
.home{
    position: absolute;
    display: block;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    z-index: 1;
}
.home .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    padding: 15px 50px;
    text-align: justify;
    word-spacing: -0.10ex;
}
body.dark .home .text{
    color: var(--text-color);
}
.text p {
    line-height: 1.5rem;
    padding-left: 15px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
    

/* ===== Стилизация контента ===== */

.title_general{
    font-size: 60px;
    font-weight: 600;
    background-image: linear-gradient(to top, var(--primary-color),var(--text-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.title_info{
    font-size: 36px;
    padding: 10px 15px;
    font-weight: 600;
    background-image: linear-gradient(to top, var(--primary-color),var(--text-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.widget_info{ 
    background-color: var(--sidebar-color);
    border-radius: 10px;
    padding: 15px;
}

/* ======  Таблица ====== */

td {
    padding-left: 15px;
    padding-bottom: 10px;
}
/* =========================== */
