@media screen and (min-width: 800px) {
   #mobile_header{
      display: none;
      opacity: 0;
   }
   .toggle{
      display: block;
      opacity: 1;
      pointer-events: 1;
   }
}
@media screen and (max-width: 800px) {
   .home{
      padding-top: 5.025rem;
   }
   #mobile_header{
      z-index: 1;
   }
   .title_general{
      font-size: 36px;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .title_info {
      font-size: 24px;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
   .toggle{
      display: none;
      opacity: 0;
      pointer-events: none;
   }
   .home .text{
      padding: 15px 15px;
   }
   .home {
      right: 0px;
      left: 0px;
      width: 100%;
   }
   .sidebar.close ~ .home {
      right: 0px;
      left: 0px;
      height: 100vh;
      width: 100%;
   }
}
