// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// Подключение файлов стилей ===========================================================================================================================================================================================================================================================================
@import "null.scss";
// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontHeading: 'Verdana', sans-serif;
$fontSize: 1.3rem; // где 16(px) - размер шрифта по умолчанию из макета
$fontSizeTitle: 1.8rem; // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #c03d3d; // Цвет шрифта по умолчанию
$color__bg:#242424; //Цвет фона
$color__lbg:#3b3b3b; //Более светлый цвет фона
$color__text:#fff; //Цвет шрифта
$color__darktext:#3b3b3b; //Цвет шрифта темный


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
.center {
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}
.page {
    background-color: $color__bg;
    align-items:center;
    justify-content:center;
    display:flex;

}
.exit_form {
    padding:50px 0;
    max-width:450px;
    min-height:450px;
    padding:20% 50px;
    border-radius:10px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: $color__lbg;
    margin-left: auto;
    margin-right: auto;
    form {
        margin-top: 20px;
        height: 100%;
    }
    .form-group {
        color: $color__text;
        font-family: $fontFamily;
        font-weight: 700;
        padding: 10px 5px 10px 5px;
        display: flex;
        >button {
            margin-left: auto;
            margin-right: auto;
            color: $color__text;
            background-color: $mainColor;
            font-size: $fontSize;
            width: 60%;
            border-radius: 10px;
            padding: 5px;
            margin-top: 30px;
        }
        
        >input {
            box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
            background-color: $color__text;
            color: $color__darktext;
            font-size: $fontSize;
            font-family: $fontFamily;
            padding: 10px;
            border-radius: 10px;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            transition: border-color 0.3s ease-in-out;
            outline: none;
            border: 2px solid #ddd; /* Border color input */
        }
        input:focus {
            border-color: $mainColor; /* Warna input saat focus */
          }
    }
}

.title {
    margin-bottom: 10px;
    text-align: center;
    color: $color__text;
    font-family: $fontHeading;
    font-weight: 700;
    font-size: $fontSizeTitle;
    letter-spacing: 3px;
}
