// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$notebook: em(1365.98);
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileNormal: em(639.98); // Телефоны M
$mobileSmall: em(479.98); // Телефоны S